<div class="container">
  <h3><em><%= @album.artist_name %></em></h3>
  <p><%= @album.album_name %></p>
  <p><%= @album.genre %></p>

  <p><%= link_to "Back to Artist", root_path %></p>
  <p><%= link_to "Edit Artist", edit_album_path %></p>
</div>
